/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para los resultados de los videos */
#videoResults {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    width: 48%;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.video:hover {
    transform: scale(1.02);
}

.video a {
    text-decoration: none;
    color: #333;
    display: block;
}

.video img {
    max-width: 100%;
    height: auto;
}

.video h2 {
    margin: 10px;
    font-size: 16px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    input[type="text"] {
        width: 100%;
    }

    .video {
        width: 100%;
    }
}
